* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
:root {
    --Orange: orange;
    --Black: black;
    --White: white;
    --padding: 6rem;
    --grey: #777;
    --wallpaper: #F5F5F5;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-thumb {
    background-color: var(--Orange);
}
::-webkit-scrollbar-track {
    background-color: white;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.container {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* start the header section */
header {
    background-image: url("../imgs/hero.png");
    background-size: cover;
    position: relative;
    height: 70vh;
}
header .container {
    background-color: rgb(0, 0, 0, 50%);
    position: fixed;
    padding: 1rem 2rem;
    width: 100%;
}
header .container .links ul li a:hover {    
    color: var(--Orange);
}
@media (max-width: 767px) {
    header .container .links ul {
        display: none;
    }
    header .container .links:hover ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--Orange);
        opacity: 80%;
        text-align: center;
        padding: 3rem;
        right: 5px;
        z-index: 1;
        top: 80px;
    }
    header .container .links:hover ul::before {
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 20px;
        border-color: transparent transparent rgb(251, 166, 9);
        top: -40px;
        right: 0;
    }
    header .text {
        line-height: 1.8;
        margin-top: 1.5rem;
    }
}
@media (min-width: 768px) {
    header .container i {
        display: none;
        color: orange;
    }
}
header .text a:hover {
    border: 1px solid orange;
    background-color: transparent;
}
/* the end */
/* start the desc section */
.text {
    padding-top: var(--padding);
    padding-bottom: var(--padding);
    text-align: center;
    max-width: 100%;
}
.text .container p {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    color: var(--grey);
}
/* the end */
/* start the services section */
.services {
    padding-top: var(--padding);
    background-color: var(--wallpaper);
}
.services .container .info p {
    max-width: 700px;
    margin-left: auto;    
    margin-right: auto;    
}
.services .container .box i {
    font-size: 3rem;
}
/* the end */
/* start the porfolio section */
.portfolio {
    padding-top: var(--padding);
    text-align: center;
}
@media (max-width: 991px) {
    .portfolio .links img {
        display: none;
    }
    .portfolio .links {
        flex-basis: 50%;
    }
}
.portfolio .container p{ 
    max-width: 700px;
    margin: 0 auto;
}
.portfolio .links span {
    transition: 0.3s;
}
.portfolio .links span:hover {
    border-bottom: 1px solid var(--grey);
    color: var(--Orange);
    cursor: pointer;
}
.portfolio .img-box {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    margin-top: 5rem;
    position: relative;
}
.portfolio .img-box .box {
    position: relative;
}
.portfolio .img-box .box section img {
    max-width: 100%;
}
.portfolio .img-box .box::before {
    content: "";
    position: absolute;
    width: 64%;
    height: 90%;
    left: 50px;
    background-color: rgb(255 165 0 / 70%);
    top: 14px;
    opacity: 0;
    transition: 0.3s;
    border-radius: 0.5rem;
}
.portfolio .img-box .box:hover::before,
.portfolio .img-box .box:hover article {
    opacity: 1;
}
.portfolio .img-box .box article {
    width: 250px;
    background-color: white;
    padding: 1rem 0.05rem;
    transition: 0.3s;
    z-index: 1;
    opacity: 0;
    border-radius: 0.5rem;
}
.portfolio .img-box .box article h3 {
    margin-bottom: 1rem;
}
.portfolio a:hover {
    background-color: transparent;
    color: black;
}
/* the end */
/* start the video section */
.video {
    padding: var(--padding) 0;
    position: relative;
    background-image: url(../imgs/video.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.video::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 70%);
    top: 0;
    left: 0;
}
.video > button {
    padding: 1rem 3rem;
    border-radius: 0.5rem;
    transition: 0.3s;
    cursor: pointer;
}
.video button:hover {
    background-color: var(--Orange);
    color: var(--Black);
}
/* the end */
/* start the team section */
.team {
    padding-top: var(--padding);
}
.team .container > p {
    max-width: 700px;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
.team .container .wrapper h3 {
    position: absolute;
    background-color: #ffa500bf;
    padding: 1rem;
    width: 100%;
    bottom: 5px;
    border-radius: 0.5rem;
}
.team .container .wrapper {
    z-index: -1;
}
.team .container .wrapper p {
    margin-top: 0;
    padding: 1rem;
}
.team .container .wrapper img {
    width: 100%;
}
/* the end */
/* start the about section */
.about {
    padding-top: var(--padding);
    position: relative;
    z-index: -1;
}
.about::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: rgb(255 165 0 / 70%);
    top: 55%;
    right: 0;
}
@media (max-width: 991px) {
    .about .container .box-contain .wrapper {
        flex-direction: column;
    }
    .about .container .box {
        max-width: 100%;
    }
    .about .container .wrapper .box-two img,
    .about .container .box-contain p {
        max-width: 100%;
    } 
    .about .container .box-contain .wrapper p {
        text-align: center;
    }
}
/* the end */
/* start the footer section */
footer .container .links a {
    color: var(--grey);
    display: block;
    padding: 0.7rem 0;
}
@media (max-width: 767px) {
    footer {
        text-align: center;
    }
}
footer .container .links a:not(:last-child) {
    border-bottom: 1px solid #ffa50052;
}
footer .container .links a:hover {
    padding-left: 1rem;
    color: var(--White);
}
footer .container .contact a.call,
footer .container .contact .media a {
    border: 2px solid orange;
}
footer .container .contact a.call:hover,
footer .container .contact .media a:hover {
    background-color: transparent;
}   
/* the end */